@page "/"

<header>
    <h1>Последние новости</h1>
</header>

<main>
    <div class="news-container">
        <div class="news-card">
            <img src="https://i.pinimg.com/originals/5f/d5/c2/5fd5c2c625575d4bfaf5f1a9a0e17539.jpg" alt="Новость 1">
            <h2>новости на две недели </h2>
            <p>У нас Дистант</p>
        </div>

        <div class="news-card">
            <img src="https://wallpapers.com/images/hd/waterfall-and-mountains-sunset-landscape-oly4p350y8tjfw8a.jpg" alt="Новость 2">
            <h2>новости сегодня</h2>
            <p>я сделал 1 Лабу</p>
        </div>

        <div class="news-card">
            <img src="https://cdn1.ozone.ru/s3/multimedia-q/6212409854.jpg" alt="Новость 3">
            <h2>это просто</h2>
            <p>я молодец </p>
          
        </div>
    </div>
</main>
